# Python
venv/
__pycache__/
*.pyc

# Data - NEVER commit the dataset
data/UDC-SIT_full/
data/UDC-SIT_subset/
*.tar.gz

# Model Checkpoints
# *.pth
*.pt

# IDE / OS specific
.DS_Store
.vscode/
.temp/*
*.html
architecture_and_workflow.md
architecture_model2.md
